{% extends "base_generic.html" %}



{% block javascript %}
<script>

    $("#submit_idea_form").click(function () {

        $("#idea_form").submit();
    });



    $("#id_category_name").change(function () {
        var category_name = $(this).val();

        $.ajax({
            url: '/stashEditor/ajax/validate_categories/',
            data: {
                'category_name': category_name
            },
            dataType: 'json',
            success: function (data) {
                $("#categories").append(data.category + ', ');
                $("#id_category_name").val("");
            }
        });

    });



</script>

{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/stashEditor/style.css' %}">


<div class="container" id="idea_editor">
    <div class="col-sm-8">
        <h3>Publish new idea</h3>
        {% load crispy_forms_tags %}
        <form action="" method="post" id="idea_form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="sm-5">
                {{ideaform.idea_title|as_crispy_field}}
                <small class="form-text text-muted">Choose a suitable title for your project</small>
        
                {{ideaform.idea_description|as_crispy_field}}
                <small class="form-text text-muted">Describe your project</small><br>
            </div>

            <div class="sm-5">
                <label for="id_category_name" class="form-label" id="div_id_add_category" >Add categories to your idea</label>
                <input type="text" class="form-control" id="id_category_name" placeholder="e.g. cloud computing or cryptocurrency" required> 
                <small class="form-text text-muted">Press enter to add the new category</small>

                <strong id="categories"></strong><br>

                <label class="form-label" for="imageupload" id="div_id_add_image">Upload image</label>
                <input class="form-control" type="file" name="image" id="imageupload">

                {{ideaform.is_public|as_crispy_field}}
            </div>
        </form>
        <div class="sm-5" id="form_submit_button_box">
            <button class="btn btn-warning" id="submit_idea_form">Save</button>
        </div>
        
      </div>
    
    </div>
</div>
{% endblock %}
