{% extends "base_generic.html" %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/stashEditor/style.css' %}">


<h1> What counts as an idea?</h1>
    <p> An idea refers to a, usually, spontaneous thought over a certain area or
        for a certain reasoning.
    </p>
    <p>What characterizes an idea is that it focuses on the <b>new or original.</b></p>
    <p>In Creative Stash, we welcome ideas that revolve around the arts, from digital to traditional.</p>

<h1>How it works</h1>
    <h2> 1. Idea</h2>
        <p> Pick out your best idea with a suitable title and description.</p>

    <h2>2. Picture</h2>
        <p>Choose <b>ONE</b> image that best describes your idea. If you don't have one yet, Creative Stash will give you one.</p>

    <h2>3. Save</h2>
        <p>Save your idea privately or publish it!</p>

  <h2>About Categories</h2>
  <p>Help people find your idea by associating it to meaningful keywords.
    Other creators on CreativeStash will always be able to search for public ideas by title or author,
    but you can help them find what they like by tagging your creations meaningfully.</p>

  <h2>Inspiration</h2>
  <p>On Creative Stash you can search for any word and discover many inspiring examples of ideas.</p>


<h1>Ready? Let's get started!</h1>
    <p> Once you have created a profile you can start publishing your ideas,
      or just writing them down for later.     Just follow: 
        <a href="{% url 'stashEditor:create' %}">Create your first idea</a>
    </p>




{% endblock %}
