{% extends "base_generic.html" %}



{% block content %}

<h3>Idea editor</h3>

<div class="row">
{% if latest_idea_list %}

    {% for idea in latest_idea_list %}
        <div class="card" style="width: 17rem;">
            <div class="card-body">
                <h5 class="card-title">{{ idea.idea_title }}</h5>
                <p class="card-text">{{ idea.idea_description }}</p>
                
                <a href="#" class="btn btn-primary">Read more</a>

            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}

{% endblock %}



