body {
    background-image: url('/media/default_idea.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;


}

h1 {
    color:#ddc24a;
    padding-top: 36px;
}

h2 {
    text-decoration: none;
    color:#ddc24a;

}
h3 a {
    text-decoration: none;
    color:#000000;

}

h3 a:hover  {
    color:#ddc24a;
  }


#idea_editor {
    display: flex;
    justify-content: center;
}

#div_id_idea_title, #div_id_idea_description, #div_id_add_category, #div_id_add_image, #div_id_is_public {
    margin-top: 20px;
}

#form_submit_button_box {
    display: flex;
    flex-direction: row-reverse;
}

#submit_idea_form {
    width: 30%;
}
