body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}
#navbar-account-button {
    margin: 0px 60px 0px 60px;
    min-width: 100px;
}

.bg_special {
    background-color:#898989;

}
#add-category-form {
    display: none;
}
.col-sm-12 {
    margin: 10%;
    text-align: left, bottom;

}
.my-card {
    background-color:#F3F3F3;
}

#stash_cards > .card {
margin: 0.5%;
}

.card-title {
    text-align: center;
}
.cards-button {
    background-color:#F0EFEE;
    width: 100%;
    padding: 0.5%;
    max-height: 40px;
    border-style: solid;
}

a {
    color:#6E6C6C;
    text-decoration: none;
}

.card-footer {
    background-color: white;
    width: 100%;
}
footer {
    margin-top: 70px;
    background-color:#FCE574;
    max-height: 100%;
    height: 300px;
    text-align: left;

}
footer {
    text-align: left;
    padding-top:3%;

}
footer a {
    color: black;
}



