/*css for the user profile starts here*/
.profile-main {
    position: relative;
    background-color:#cea840;
    align-content: center;
    margin:auto;
    margin-top: 1.5%;
    margin-bottom: 1%;
    max-width: 55%;
    max-height: 35%;
    border-radius: 3px;
    overflow: hidden;
}

.profile-header {
    position: relative;
    background-color: #d3a31f;
    min-width: 100%;
    margin: auto;
    max-height: 25%;
    overflow: hidden;
    
}
/*
.profile-img {
    
}
*/
.profile-name {
    text-align: center;
    font-size: 2em;
}

.profile-body {

    position: relative;
    height: 65%;
    min-width: 100%;
    overflow: hidden;
}

.profile-bio {
    padding-left: 1.1%;
    padding-right: 1.1%;
    padding-top: 0.9%;
    padding-bottom: 0.9%;
}



.profile-footer {
    position: relative;
    margin: auto;
    max-height: 10%;   
}
/*
.profile-edit {
    
}
*/
.profile-link-li {
    display: inline;
    max-width: 33%;
    overflow: hidden;
    float: center;
}

.li-1{
    text-align:center;;
}

.li-1{
    text-align:center;
}

.li-1{
    text-align:center;;
}

.profile-button {
    float:right;
    max-height: 100%;
    
}

.card-main {
    margin:auto;

}
.my-card {
    background-color:#F3F3F3;
    display: inline;
    margin: 5px;
    height: 500px;    
}

/*css for the user ideas starts here*/
.card-body-content {
    height: 85%;
    width: 100%;
    
}

.card-img-container {
    position: relative;
    height: 60%;
}

.card-img {
    align-content: center;
    overflow: hidden;
}

.card-title {
    height: 5%;
    text-align: center;
    overflow: hidden;
}

.card-text {
    height: 35%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer-content {
    height: 15%;
    background-color: white;
    width: 100%;
}

.cards-button {
    background-color:#F0EFEE;
    width: 46%;
    padding: 0.5%;
    max-height: 40px;
    border-style: solid;
}



