{% extends "base_generic.html" %}
{% block javascript %}
<script>

    $("#details").click(function () {
        $("#vy-1").fadeToggle();
    });

    function like_comment(like_id) {
        $.ajax({
            url: '/ajax/like_comment/',
            data: {
                'like_comment': like_id
            },
            dataType: 'json',
            success: function (data) {
                console.log(data.message);
                $(`#like-counter-${like_id}`).text(data.message);

            }
        })
    }

</script>

{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/theStash/style.css' %}">

<h1 class="mt-5 ">{{ idea.idea_title }}</h1>
<div class="row d-flex justify-content-between">

    <div class="col-md-8 mr-auto border rounded p-3 bg-light">

        {% if idea.image %}
        <img class="img-thumbnail rounded float-left mr-2mb-1" style="max-width: 30%;" src="{{ idea.image }}"
            alt="card">
        {% else %}
        <img class="img-thumbnail rounded float-left mr-2mb-1" style="max-width: 30%;" src="/media/default_idea.jpg" alt="card">
        {% endif %}
        <p class="">{{ idea.idea_description }}</p>
        {% if user.is_authenticated and user.id == profile.user_id %}
        <a href="/stashProfile/edit_idea/{{ idea.id }}" class="btn btn-warning">Edit</a>
        {% endif %}

    </div>


    <div class="col-md-3 text-center">
        <div class="p-1 bg-dark rounded">

          <div class="justify-content-md-center">
              {% if profile.profile_picture %}
              <img class="img-fluid rounded" src="/media/{{ profile.profile_picture }}" alt="profile picture">
              {% else %}
              <img class="img-fluid" src="/media/profilepics/default_profile.png">
              {%endif%}
          </div>
            <h3 class="bg-warning rounded text-uppercase mt-3">{{ creator.username }}</h3>
            <h3 class="mt-1"><a href="/stashProfile/social_profile/{{ idea.creator_id }}" class="btn btn-warning btn-lg"
                    id="visit_profile_button">Profile</a></h3>

            <div class="idea-details mt-2">
                <button class="btn btn-outline-warning btn-sm" id="details">Details</button>
            </div>

            <div class="mt-3" id="vy-1">
                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th scope="col">Created by:</th>
                            <th scope="col">{{ idea.creator }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Date of creation:</th>
                            <td>{{ idea.created_date }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last updated</th>
                            <td>{{ idea.updated_when }}</td>

                        </tr>
                    </tbody>
                </table>
                <h4 class="text-light">In categories</h4>

                <ul class="list-group list-unstyled">
                    {% for category in idea.idea_category.all %}
                    <li class="text-decoration-none"><a class="text-capitalize" href="/theStash/{{ category }}/">{{category }}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


    <div class="col-md-8 bg-warning rounded mt-2">
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <button type="submit" class="btn btn-outline-warning bg-dark mt-2 mb-2">Comment</button>
        </form>

    </div>
    <h3 class="text-muted" id="comments-section">Comments</h3>
</div>
<div class="row">
    {% for comment in comments %}
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-header text-muted fw-bolder">
            <em class="fst-italic">Made by:  <u><a href="/stashProfile/social_profile/{{comment.from_user.id}}">{{comment.from_user}}</a></u></em>
        </div>
        <div class="card-body">
            <p class="card-title">{{ comment.idea_comment }}</p>
        </div>
        <div class="card-footer">
            {% if comment.comment_likes == None %}
            <em class="card-text" id="like-counter-{{comment.id}}">0</em>
            {% else %}
            <em class="card-text" id="like-counter-{{comment.id}}">{{ comment.comment_likes }}</em>
            {% endif %}
            <em> likes</em>
            <img height="16" width="16" class="img-fluid social-icons-cs" id="{{comment.id}}"
                src="/media/icons/like.svg" alt="" onClick="like_comment(this.id)">
        </div>

    </div>
    {% empty %}
    <p>There are no comments yet.</p>

    {% endfor %}
</div>

{% endblock %}
