{% extends "base_generic.html" %}
<!-- Extends the global base_generic.html. PATH = CreativeStash/mysite/templates/base_generic.html-->


{% block content %}
<!-- Page start -->

<!--Put content here-->





{% if category %}
    {% for item in category %}
    <div class="row">
        <h3>{{ item }}</h3>

        {% if latest_idea_list %}
            {% for idea in latest_idea_list %}
                {% for obj in idea.idea_category.all %}
                    {% if obj == item %}
                    
                            <div class="card" style="width: 17rem;">
                                <div class="card-header text-muted">
                                    <em>Author: </em><a href="#" a>{{idea.creator}}</a>
                                </div>
                                <div class="card-body">
                                    <img src="{{ idea.image }}" alt="{{ idea.idea_title }}" style="max-width:200px;">
                                    <h5 class="card-title">{{ idea.idea_title }}</h5>
                                    <p class="card-text">{{ idea.idea_description }}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    {% for obj in idea.idea_category.all %}
                                    <em> {{ obj }}, </em>
                            
                                    {% endfor %}
                                    <a href="/{{ idea.creator_id }}/{{ idea.id }}/" class="btn btn-warning">Read more</a>
                            
                                </div>
                            </div>
                    {% endif %}
                {% endfor %}
                
            {% endfor %}
            
        
        {% endif %}
    </div>    
    {% endfor %}

    {% else %}
        <p>No categories are available.</p>
{% endif %}
<!--
<section class="row">


   
    {% if latest_idea_list %}

        {% for idea in latest_idea_list %}
            <div class="card" style="width: 17rem;">
                <div class="card-header text-muted">
                    <em>Author: </em><a href="#" a>{{idea.creator}}</a>
                </div>
                <div class="card-body">
                    <img src="{{ idea.image }}" alt ="{{ idea.idea_title }}" style="max-width:200px;">
                    <h5 class="card-title">{{ idea.idea_title }}</h5>
                    <p class="card-text">{{ idea.idea_description }}</p>
                </div>
                <div class="card-footer text-muted">
                    {% for obj in idea.idea_category.all %}
                    <em> {{ obj }}, </em>

                    {% endfor %}
                    <a href="/{{ idea.creator_id }}/{{ idea.id }}/" class="btn btn-warning">Read more</a>
    
                </div>
            </div>

        {% endfor %}
</section>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
-->


{% endblock %}



<!-- Change global CSS go to CreativeStash/mysite/staticfiles/css/globalstyle.css -->
<!-- For app specific CSS go to CreativeStash/mysite/theStash/static/css/globalstyle.css -->



<!-- Page end -->
