{% extends "base_generic.html" %}
<!-- Extends the global base_generic.html. PATH = CreativeStash/mysite/templates/base_generic.html-->
{% block javascript %}
<script>

function like_function(idea_id){
    $.ajax({
        url: '/ajax/like_counter/',
        data: {
            'idea_id': idea_id
        },
        dataType: 'json',
        success: function (data) {
            $(`#like_idea_counter-${idea_id}`).text(data.message);
        }
    });
    
};
    
</script>

{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/theStash/style.css' %}">


{% if user.is_authenticated %}
{% if everything %}

{% for categories, idea in everything.items %}
<div class="my-container">
    <div class="category-name-gradient mt-4 rounded">
        <h3 class="text-capitalize m-2"><u><a class="text-capitalize text-dark text-decoration-none"
                    href="/theStash/{{ categories }}/">{{ categories }}</a></u></h3>
    </div>
    <div id="slideshow-{{ forloop.counter0 }}" class="carousel slide mt5 custom-slideshow" data-bs-ride="false"
        data-bs-interval="false">
        <div class="carousel-inner h-100">
            {% for idea_data in idea %}


            {% if forloop.counter0|divisibleby:4 and forloop.counter0 != 0 %}
        </div>
        {% endif %}



        {% if forloop.counter0|divisibleby:4 and forloop.counter0 == 0 %}
        <div class="carousel-item active h-100">
            {% elif forloop.counter0|divisibleby:4 %}
            <div class="carousel-item h-100">
                {% endif %}

                <a href="/{{ idea_data.creator_id }}/{{ idea_data.id }}" class="text-light text-decoration-none">

                    <div class="card col-sm-3 d-flex index-cards-box-shadow m-1" style="float:left;">

                        <div class="card-image-control">
                            <img class="img-thumbnail" src="{{ idea_data.image }}" alt="{{ idea.idea_title }}">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title text-dark text-center text-capitalize">{{ idea_data.idea_title }}</h4>

                            <p class="card-text text-dark text-truncate">{{ idea_data.idea_description }}</p>


                        </div>
                </a>

                <div class="d-flex justify-content-between w-100 cs-card-footer p-1">
                    <div class="col-md-6">
                        <a href="/stashProfile/social_profile/{{ idea_data.creator_id }}" class="text-capitalize m-2">{{ idea_data.creator }}</a>
                    </div>

                    <div class="col-md-3">
                       {%if idea_data.likes.all%}
                        {% for like in idea_data.likes.all%}
                        
                        <em id="like_idea_counter-{{idea_data.id}}"> 
                            
                            {{like.idea_like}}
                        </em>
                        {% endfor %}
                        {%else%}
                        <em id="like_idea_counter-{{idea_data.id}}"> 
                            0
                        </em>
                            
                        {%endif%}

                   <img height="16" width="16" class="img-fluid social-icons-cs" id="{{idea_data.id}}" src="/media/icons/like.svg" alt="" onClick="like_function(this.id)">
                    </div>
                    <div class="col-md-3">
                        <em class="text-dark">{{ idea_data.comments_idea.all|length }}</em>
                        <a href="/{{ idea_data.creator_id }}/{{ idea_data.id }}#comments-section"><img height="16"
                                width="16" class="img-fluid social-icons-cs" src="/media/icons/comment.svg" alt=""></a>
                    </div>


                </div>
            </div>


            {% if forloop.last and forloop.counter0 <= 3 %} </div>
                {% elif forloop.last and forloop.counter0 >= 4%}


        </div>



        <button class="carousel-control-prev" type="button"
            data-bs-target="#slideshow-{{ forloop.parentloop.counter0 }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
            data-bs-target="#slideshow-{{ forloop.parentloop.counter0 }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
        {% endfor %}


    </div>
</div>


{% endfor %}
{% else %}



<!--För inloggad utan intresse-->
<p>{{ info }}</p>
<p>Inloggad utan intresse</p>
<p>Länk till profilsidan</p>



{% endif %}

{% else %}
<!--För ej inloggade-->
<p>Ej inloggad</p>
{% endif %}

{% endblock %}



<!-- Change global CSS go to CreativeStash/mysite/staticfiles/css/globalstyle.css -->
<!-- For app specific CSS go to CreativeStash/mysite/theStash/static/css/globalstyle.css -->



<!-- Page end -->