{% extends "base_generic.html" %}
<!-- Extends the global base_generic.html. PATH = CreativeStash/mysite/templates/base_generic.html-->
{% block content %}
{% load crispy_forms_tags %}

<form action="" method="post" id="edit_social_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
<!---
    <div class="sm-5">

        <label class="form-label" for="profilbild" id="div_id_add_image">Upload profile picture</label>
        <input class="form-control" type="file" name="profilbild" id="imageupload">

    </div>
    -->
   
    <button class="btn btn-warning" type="submit">Publish</button>
    
</form>



{% endblock %}