{% extends "base_generic.html" %}
<!-- Extends the global base_generic.html. PATH = CreativeStash/mysite/templates/base_generic.html-->
{% block content %}
    <div class="profile-card" style="width: 17rem;">
        <div class="profile-picture"></div>
           <!--  <img src="./media/" alt="Profil bild">  -->
        </div>
        <div class="profile-card-body">
            {% if user.is_authenticated %}
            <h5 class="profile-name">{{ user.username }}</h5>
            <p class="profile-bio"> {{profile.bio}} </p>
            <a href="{{profile.link1}}">{{profile.link1}}</a>
            <a href="{{profile.link2}}">{{profile.link2}}</a>
            <a href="{{profile.link3}}">{{profile.link3}}</a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div class="profile-edit">
            <a href="/stashProfile/edit_social_profile/{{ user.id }}" class="btn btn-warning">Edit profile</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
